<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil Eleve</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <div class="navbar">
            <a href="#"><h1>Accueil ?</h1></a>
        </div>
        <ul>
            <a href="/projets"><li>Projets</li></a>
            <a href="/scolarite"><li>Scolarité</li></a>
            <a href="/stage"><li>Stages</li></a>
        </ul>
    </nav>
    <h1>Accueil ELEVES</h1>
    <p>Bienvenue, <%= nom %> <%= prenom %> !</p>
</body>

</html>
